body {
    background-color: #005B78;
    color: #fff;
    font-family: 'Candara', sans-serif;
    /*font-family: 'Mulish', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300;*/ /*Light */
    padding-top: 70px; /*Ajuste conforme a altura do menu*/
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.bg-primary {
    background-color: #005B78 !important;
}

.bg-dark {
    background-color: #231f20 !important;
}

.bg-dark-light {
    background-color: #4c4d4f !important;
}

.btn-primary {
    background-color: #005B78;
    border-color: #005B78;
}

.btn-primary:hover {
    background-color: #004a60;
    border-color: #004a60;
}

.navbar-nav .nav-link {
    position: relative;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navbar-nav .nav-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#conforto-situacoes {
    color: #fff;
}

#conforto-situacoes h3 {
    /*
    -webkit-text-stroke: 1px #000;
    text-shadow: 1px 1px #000;
    */
    display: inline-block; /* Garante que a caixa se ajuste ao conteúdo */
    padding: 5px; /* Adiciona algum espaço interno */
    border: 2px solid #fff; /* Adiciona uma borda branca */
    border-radius: 5px; /* Opcional: para bordas arredondadas */
}

#oferta {
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img {
    height: 300px;
    object-fit: cover;
}

#carouselExampleIndicators .carousel-inner .carousel-item img {
    height: 650px;
}

@media (max-width: 600px) {
    #carouselExampleIndicators .carousel-inner .carousel-item img {
        height: 30vh;
    }
    .carousel-caption h2 {
        font-size: 2rem;
    }
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 1.9s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active {
    opacity: 1;
}

.carousel-fade .carousel-item-next.active,
.carousel-fade .carousel-item-prev.active {
    opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    opacity: 0;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.carousel-caption h2 {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    opacity: 0; /* Oculta o texto inicialmente */
    text-shadow: black 1px 0 10px;
}

header.jumbotron {
    background-color: #f0f0f0;
}



#tecnologia .col-md-3 {
    margin-bottom: 30px;
}

#conforto-situacoes img {
    margin-bottom: 25px;
}

footer {
    background-color: #343a40;
}

.modal-title {
    color: #005B78;
}

.hero-img {
    width: 100%;
}

.sec {
    padding: 25px;
}

.grid {
    padding: 0 12.5px;
}

.tecido {
    text-align: justify;
    padding-right: 25px;
}

.img-tecido {
    max-height: 55vh;
    aspect-ratio: 1/1;
    height: fit-content;
}


.central {
    display: flex;
    justify-content: center;
}

li {
    font-size: 20px;
}

.passo {
    margin-top: 16px;
}

h6 {
    margin-bottom: 15px;
}

.lead {
    text-align: justify;
}

.hidden {
    opacity: 0;
    scale: 1;
    transition: all 1s;
}

.show {
    opacity: 1;
    scale: 1;
}

body::-webkit-scrollbar {
    width: 0.4rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #004a60
  }
  
  body::-webkit-scrollbar-thumb {
    background: white
  }


.call {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #005B78;
    border: 2px solid #005B78;
    border-radius: 34px;
    background-color: rgb(255, 238, 0);
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .call::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #004a60;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .call:hover::before {
    scale: 5;
  }
  
  .call:hover {
    color: rgb(255, 238, 0);
    scale: 1.1;
    box-shadow: 0 0px 20px #343a40;
  }
  
  .call:active {
    scale: 1;
  }

@keyframes bounce {
    from {
        scale: 1;
    }
    to {
        scale: 1.1;
    }
}

.anim-text {
    animation: bounce 1s alternate ease-in-out;
    animation-iteration-count: infinite;
    
}

.content-wrapper2 {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 25px 0;
    background-color: white;
}

h1 {
	font-size: 30px;
    font-weight: 500;
    color: #004a60;
}

.blue-line {
	height: 0.3rem;
	width: 6rem;
	background-color: #004a60;
    margin-bottom: 15px;
}

.wrapper-for-arrows2 {
	position: relative;
	width: 100%;
	border-radius: 2rem;
	overflow: hidden;
	display: grid;
	place-items: center;
}

.review-wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	width: 100%;
}

#personName {
	font-size: calc(1rem + 0.5vmin);
	letter-spacing: calc(0.1rem + 0.1vmin);
	font-weight: bold;
    color: black;
}

#personProf {
    color: black;
    margin-bottom: 15px;
}

#description {
	font-size: calc(0.8rem + 0.3vmin);
	width: 70%;
	max-width: 40rem;
	text-align: center;
	margin-bottom: 15px;
	color: rgb(92, 92, 92);
	line-height: 2rem;
}

.arrow-wrap2 {
    position: absolute;
    top: 35%;
}

.arrow2 {
	width: calc(1.4rem + 0.6vmin);
	height: calc(1.4rem + 0.6vmin);
	border: solid #004a60;
	border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
	cursor: pointer;
	transition: transform 0.3s;
}

.arrow2:hover {
	transition: 0.3s;
	transform: scale(1.15);
}

.left-arrow-wrap2 {
	left: 5%;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.right-arrow-wrap2 {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 5%;
}

@media screen and (max-width: 900px) {
	.content-wrapper {
		width: 100%;
	}
}

.gridAdv {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    margin: 20px;
}

.topic {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icon {
    width: 60px;
}

.img-modal {
    width: 30%;
}

.topic h1 {
    font-size: 20px;
    margin-left: 10px;
}

.tecidoBox {
    display: flex;
    justify-content: center;
}


.intro {
    position: fixed;
    z-index: 1031;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 1s;
}

.logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
